h1 {
  color: darkblue;
}

h2 {
  font-style: italic;
  color: purple;
  text-align: left;
}

p {
  color: black;
}

ul{
  text-align: left;
  margin-top: -20px;
}

body {
  background-color: lightgrey;
  font-family: sans-serif;
  text-align: center;
}
h3{
  color: darkblue;
}
